@tailwind base;
@tailwind components;
@tailwind utilities;

.Genre_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 60vh;
}
.Genre{
    margin: 2vh 2vh;
    flex: 1 0 21%;
}